@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
  background: rgb(251, 251, 251) !important;
  font-family: "Product Sans" !important;
}

.home {
  display: flex;
  :hover {
    cursor: pointer;
  }
}

.navbar-inverse {
  background-color: rgb(51, 51, 51) !important;
}

.topbar {
  display: flex;
}

.icon {
  width: 10vh;
  height: 10vh;
}

.form-control {
  margin-top: 8px;
}

td {
  padding: 0 !important;
  .react-contextmenu-wrapper {
    padding: 8px;
  }
}

.test {
  background: white;
  margin-left: 5px;
  width: 100px;
}

label {
  background: white;
  font-weight: normal !important;
  margin-top: 8px;
  width: 60px;
  height: 34px;
  margin-left: 12px;
  padding: 8px 5px 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
  &:hover {
    cursor: pointer;
  }
}

button {
  background: white;
  font-weight: normal !important;
  margin-top: 8px;
  width: 62px;
  height: 35px;
  margin-left: 10px !important;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  //box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
  &:hover {
    cursor: pointer;
  }
}

.react-contextmenu--visible {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  //padding: 5px 8px;
}

.react-contextmenu-item {
  padding: 5px 35px 5px 10px;
  &:hover {
    cursor: pointer;
  }
}

.react-contextmenu-item--selected {
  background: #f3f3f3;
}

.folder:hover {
  background: #f3f3f359;
  cursor: pointer;
}

.selected {
  background: #f3f3f359;
}

table {
  border-bottom: solid #DDDDDD 1px;
}

main {
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: white;
}

img {
  height: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

nav {
  .container {
    margin-left: 100px;
  }
}

.topbar {
  input {
    width: 43vw;
  }
}

.kura {
  margin-right:3vw;
  color: white;
}

.name {
  width: 40vw;
}

.size {
  width: 10vw;
}