.home {
  display: flex;
  :hover {
    cursor: pointer;
  }
}

.topbar {
  display: flex;
}

.icon {
  width: 10vh;
  height: 10vh;
}

.form-control {
  margin-top: 8px;
}

.topbar button {
  margin-top: 12px;
  margin-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

label {
  background: white;
  font-weight: normal !important;
  margin-top: 13px;
  width: 109px;
  height: 28px;
  margin-left: 12px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
  &:hover {
    cursor: pointer;
  }
}

.react-contextmenu--visible {
  background: whitesmoke;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 0;
}

.react-contextmenu-item {
  padding: 5px 5px;
}

.react-contextmenu-item--selected {
  background: #d6d6d6;
}

//.react-contextmenu-wrapper {
//  width: 100%;
//  height: 100%;
//}

.hover:hover{
  background: #d3d3d359;
}
table {
  margin-top: 50px;
}

img {
  height: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}